div {
	display: block;
}
.container {
	display: block;
}
.header{
	float: right;
	display: inline-block;
	text-decoration: none;
}
.nav {
	float: right;
	margin: 10px 15px 0 0;
	text-decoration: none;
}
ul {
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
	display:inline-block;
	vertical-align: middle;
	margin-right: 15px;
	text-decoration: none;
	font-family: Arial, Sans-Serif;
	font-size: 20px;
}
a {
	font-family: Arial, Sans-Serif;
	font-size: 13px;
	text-decoration: none;
	font-color: black;
}
a:link {
	color: black;
}
a:visited {
	color:black;
}
}
.google-search {
	margin-top: 175px;
}
center {
	display: block;
	text-align: -webkit-center;
}
img  {
	width: 350px;
	height: 120px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mic {
	display: inline-block;
    float: right;
    width: 29px;
    height: 27px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: none;
}
form {
	display: block;
	width: 280px;
	height: 120px;
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);

}
input[type=text] {
	position: absolute;
	left: 50%;
	border: 1px solid black;
	width: 550px;
	height: 28px;
	transform: translate(-50%,0%);
	font-size: 12px;
}
input[type=submit] {
	position: relative;
    top: 50px;
    left: 10%;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,0.1);
    padding: 8px 10px;
    background-color: #d9d9d9;
    font-size: 12px;
}
.footer {
	background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 100%;
    bottom: 0;
    position: absolute;
}
#footer-left{
	float: left;
	margin: 0px;
}
#footer-right{
	float: right;
	margin: 0px;
}
